
<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
                 <h1><%= students.name %></h1>
                <p><%= students.batch %></p>
                <p><%= students.group %></p>
                <p><%= students.m1 %></p>
                <p><%= students.m2 %></p>
                <p><%= students.m3 %></p>
                <p><%= students.m4 %></p>
                <p><%= students.total %></p>
                <p><%= students.avg %></p>
                <p><%= students.result %></p>
                <p><%= students.grade %></p>



                <p>
                        <em>Submitted By <%= students.author.username %></em>
                    </p>
                    <% if(currentUser && students.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="../students/edit students._id %>/edit">Edit</a>
                        <form id="delete-form" action="../students/edit students._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% }%>

        </div>
    </div>
  
</div>

<% include partials/footer %>
