
<% include partials/header %>
<h1><%= student.name %></h1>
<p><%= student.batch %></p>
<p><%= student.group %></p>
<p><%= student.m1 %></p>
<p><%= student.m2 %></p>
<p><%= student.m3 %></p>
<p><%= student.m4 %></p>



<% include partials/footer %>
